### Gradle ###
.gradle/
build/
!gradle-projects/*/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Gradle Project Folder ###
gradle-projects/.gradle/
gradle-projects/build/
gradle-projects/*/.gradle/
gradle-projects/*/build/
gradle-projects/*/out/
gradle-projects/*/.build/

### Maven Project Folder ###
maven-project/**/target/
maven-project/**/pom.xml.*
maven-project/**/release.properties
maven-project/**/dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.log

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Logs ###
logs/
*.log

### Temp files ###
*.tmp
*.temp